---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Roboto+Mono:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <link rel="icon" href="/assets/img/favicon.ico">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="container">
      {% include navigation.html %}
      <div class="main">
        <div class="main__contents">
          {{ content }}
        </div>
      </div>
      <footer class="footer">
        <p class="footer__copyright">© 2021 Kyung-eun Kim. All rights reserved.</p>
        <div class="footer__social">
            <a rel="github"
                href="https://github.com/kyungeunni"
                title="Kyung-eun Kim Github">
                <i class="fab fa-github"></i>
            </a>
            <a rel="twitter"
                href="https://twitter.com/kyungeunni"
                title="Kyung-eun Kim Twitter">
                <i class="fab fa-twitter"></i>
            </a>
          </div>
      </footer>
    </div>
    <script defer data-domain="kyungeun.kim" data-api="/helpers/api/event" src="/helpers/js/script.js"></script>
  </body>
</html>
