.about {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 700px;
}

.about__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--gap--lg);
}

.about__img {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    object-fit: cover;
    justify-self: center;
}

.about__title {
    font-family: var(--font-family--header);
    text-align: center;
}

.about__content {
    margin: var(--gap--lg);
}

.about__item {
    line-height: 1.5;
}
