/* ==========================================================================
   Properties order example(ref: https://github.com/necolas/idiomatic-css)
    // Positioning
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // Display & Box Model
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid #333;
    margin: 10px;

    // Other
    background: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    text-align: right;
========================================================================== */
body {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--muted-accent-color);
}

code {
    background-color: var(--highlight-color);
    padding: 0 var(--gap--sm);
    font-size: 0.9em;
    border-radius: var(--gap--xs);
}

p {
    line-height: 1.4;
}

blockquote {
    color: var(--secondary-color);
    font-style: italic;
}

blockquote p::before {
    content: '> ' ;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100vh;
    width: 100vw;
    font-family: var(--font-family);
}

.nav {
    padding: var(--gap) var(--gap--xl);
    font-family: var(--font-family--mono);
    font-size: 20px;
}

.nav__menu {
    display: flex;
    justify-content: center;
    padding: var(--gap);
}

.nav__item {
    color: #424242;
    text-decoration: none;
}

.nav__item::after {
    content: '|';
    color: #424242;
}

.nav__item:not(:last-child) {
    margin-right: var(--gap--lg);
}

.nav__item:last-child::after {
    content: '';
}

.main {
    flex: 3 auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: var(--gap--lg);
}

.main__contents{
    max-width: 780px;
    width: 100%;
}

.tags__item {
    padding: var(--gap--xs) var(--gap--sm);
    margin-right: var(--gap--xs);
    background-color: var(--highlight-color);
    border-radius: var(--gap--sm);
    font-style: italic;
    font-size: var(--font-size--sm);
}
