.post__meta {
    font-size: var(--font-size--sm);
    padding-bottom: var(--gap--lg);
}

.post__meta-author {
    color: var(--secondary-color);
}

.post__content a {
    text-decoration: underline;
    text-decoration-style: dotted;
}
