:root {
    --gap--xs: 2px;
    --gap--sm: 5px;
    --gap: 10px;
    --gap--lg: 15px;
    --gap--xl: 20px;

    --bg-color: #fffdccba;
    --bg-color--dark: #2D3047;
    --primary-color: #9f1cce;
    --secondary-color: #2971a5;
    --accent-color: #E03616;
    --muted-accent-color: #f9b0b0;
    --highlight-color:#ffd766;

    --font-family: 'Lato', Verdana, Arial, Helvetica, sans-serif;
    --font-family--mono: 'Roboto Mono', Courier, monospace;
    --font-size: 14px;
    --font-size--sm: 12px;
}
